@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
	font-size: 14px;

}

a {
	text-decoration: none;
}

form {
	height:97px;
	width:1197px;
	background-color: #f2f2f2;
	position: absolute; left:-98px; bottom:2px;
}

td{
	text-align: center;
}

.tdColor {
	height: 40px;
	background-color: #f2f2f2;
	color: #438eb9;
}


.pageTop span {
	margin-left: 15px;
}

.pageTop a {
	color: #3695cc;
}

#pageAll .page {
	width: 96%;
	margin: 0px auto;
	background-color: #F2F2F2;
}
#pageAll .page1 {
	width: 1200px;
	height: 600px;
	border-style:solid;
	border-width:1px;
	margin-bottom: 166px;
	margin-left: 29px;
}

.pageTop {
	width: 100%;
	height: 45px;
	line-height: 45px;
	background-color: #f2f2f2;
}

.cfD .button {
	margin-left: 295px;
	width: 100px;
	height: 35px;
	border: none;
	font-size: 16px;
	color: #fff;
	background-color: #47a4e1;
	position: absolute; left:618px; bottom:43px;
	float: left;
	
}

.cfD label {
	margin-left: 20px;
}

.paging {
	width: 56%;
	margin-top: 12px;
	margin-bottom: 59px;
	text-align: right;
}

.cfD select {
	width: 200px;
	height: 30px;
	border: 1px solid #ccc;
	margin-left: 10px;
	margin-right: 45px;
	color: #999;
	text-indent: 15px;
}

.cfD .lar {
	margin-right: 45px;
}

.cfD {
	margin-top: 50px;
	margin-left: 50px;
/* 	background-color: #0080FF; */
}

.cfD .bselect {
	width: 100px;
}

.cfD .vpr {
	margin-right: 45px;
}

.cfD .vinput {
	width: 150px;
	height: 30px;
	border: 1px solid #ccc;
	margin-left: 5px;
	text-indent: 15px;
	margin-top: 20px;
}
.cfD .addA2 {
	margin-left: 30px;
}

 

.conShow{
	height: 100px;
	width: 1000px;
	margin: 100px 0px 0px 0px;
	margin-left: 8%;
	
}
section.page-bar{
	float: right;
	width: 250px;
	height: 0px;
	line-height: 34px;
	text-align: right;
 	position: absolute; bottom:80px; left: 700px;  
}
 section.page-bar a{
	display: inline-block;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	border: solid 1px #CFCFCF;
	border-radius: 3px;
	color: #222222;
	text-decoration: none;
}
 
